@font-face { font-family: spaceranger; src: url('Font/spaceranger.ttf'); }
.spaceranger { font-family: spaceranger; font-size: 4.2em; }

body {
  background-image: url("images/background.jpg");
  background-repeat: repeat ;
}

/*logo*/
.logo{
  Width: 15%;
  min-width: 50px;
  height: 15%;
  min-height: 50px;
  margin-top: 1%;
  margin-left: 12%;
  float: left;
}

.logo1{
  Width: 30%;
  min-width: 50px;
  height: 30%;
  min-height: 50px;
  margin-top: 1%;
  margin-left: 4.5%;
  float: left;
}

/*Navigation*/
ul {
  border-radius: 1px;
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(#00c4bb,#005b57);
  font-family: 'spaceranger';
  width: 91.7%;
  position: static;
  box-shadow: 5px 5px 15px;
  border: 2px solid orange;
  margin-top:1%;
}

div.navigation {
  position: absolute;
  overflow: hidden;
  width: 60%;
  height: 10%;
  margin-top: 7%;
  margin-left: 26.5%;
  margin-bottom: 1%;
}

li {
  float: left;
}

li a {
  display: block;
  background-image: linear-gradient(#00c4bb,#005b57);
  text-align: center;
  padding: 8px 18px;
  text-decoration: none;
  color: white;
}

li:last-child {
  float: right;
}

li a:hover {
  background-color: #006b66;
  color: black;
}

.active {
  background-color: #DDC379;
  color: orange;
}

/*Scroll bar*/
div.bar {
  margin-top: 12%;
  margin-left: 25.5%;
  margin-bottom: 1%;
  position: absolute;
  width: 58.5%;
  border: 2px solid orange;
  box-shadow: 5px 5px 15px;
}

/* content box */
div.box {
  background-image: linear-gradient(#00c4bb,#005b57);
  margin-top: 17%;
  margin-left: 22.5%;
  position: absolute;
  width: 61.5%;
  min-width: 340px;
  min-height: 500px;
  height: 800px;
  height: auto;
  border: 2px solid orange;
}

div.account span {
  color:  orange;
  font-size: 100%;
}

/* Nieuws box op homepage*/
div.nieuws {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: transparent;
}

div.nieuws h1 {
  text-align: center;
}

div.nieuws p {
  text-align: center;
}

/* Cryptoproducten op de coinspage */
div.cryptocoin {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-left: 1%;
    width: auto;
    height: auto;
    background-color: transparent;
}

div.cryptocoin h1 {
  text-align: center;
}

div.cryptocoin p {
  text-align: center;
}

/* box op de loginpage */
div.info {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: transparent;
}

div.info h1 {
  text-align: center;
}

div.info p {
  text-align: center;
}

/* Profiel pagina */
div.profiel {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: transparent;
}
/* box op de loginpage */
div.login {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: transparent;
}

form {
  text-align: center;
}

label.error{
color: red;
-webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black;
}

/* gebruikersnaam en wachtwoord boxen */
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  width: 40%;
  height: 50%;
}

/* Avatar afbeelding */
img.avatar {
  width: 40%;
  height: 50%;
  margin-top: 10%;
  margin-left: 105%;
  border: 1px solid black;
}

.container {
  padding: 16px;
}

/* Wachtwoord vergeten? */
span.register {
  float: center;
  padding-top: 4px;
}

/* Footer DUUUUUUHHHHHHH */
footer {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0%;
  width: 99.89%;
  height: auto;
  border: 1px solid black;
  display: block;
  background-color: transparent;
  margin-top: 30%;
}

div.footerthree img {
  width: 64px;
  height: 64px;
}

div.footerone {
  width: 33%;
  height: 10%;
  float: left;
}

div.footertwo {
  width: 33%;
  height: 10%;
  float: left;
}

div.footerthree {
  width: 33%;
  height: 10%;
  float: left;
}
/* Winkel wagen */

#winkel-mand {
	margin: 40px;
}

#product-grid {
	margin: 3px;
  height: auto;
}

#winkel-mand table {
	width: 100%;
	background-color:transparent;
}

#winkel-mand table td {
	background-color:transparent;
  border-right: 1.1px solid;
  border-left:1.1px;
  border-bottom: 1.1px solid;
  border-top: 1.1px solid;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid black;
	overflow: auto;
}

#btnleeg {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnToevoegen {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: transparent;
	margin: 30px 30px 0px 0px;
	border: black 1px solid;
  margin-left: 2%;
}

.product-image {
	height: 250px;
	width: 250px;
	background-color: transparent;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-mand {
	font-size: 0.9em;
  padding: 10;
  border-spacing: 1.5;
}

.tbl-mand th {
	font-weight: normal;
    text-align:left;
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
}

.tbl-mand th.naam {
	font-weight: bold;
}

.tbl-mand th.hoeveelheid {
	font-weight: bold;
  text-align:right;
  width: 10%;
}

.tbl-mand th.verwijder {
	font-weight: bold;
  text-align:center;
  width: 5%;
}

.product-title {
	margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.product-price {
	float:left;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 3%;
}

.mand-action {
	float: right;
}

.product-stuks {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
    float:center;
}

.product-tile-footer {
    padding: 1px 1px 0px 1px;
    overflow: hidden;
}

.mand-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

/* Create user gedeelte */

.header {
  background:  #4CAF50;
}
